@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  * {
    @apply box-border;
  }
  
  body {
    @apply font-normal text-left text-sm relative text-gray-700;
  }

  .nav-link {
    @apply flex gap-3 items-center px-4 py-2 rounded-lg
  }
}


/* Inter fonts */
@font-face {
  font-family: 'Inter-Black';
  src: url("fonts/inter/Inter-Black.ttf");
  font-weight: 900
}
@font-face {
  font-family: 'Inter-Bold';
  src: url("fonts/inter/Inter-Bold.ttf");
  font-weight: 700
}
@font-face {
  font-family: 'Inter-ExtraBold';
  src: url("fonts/inter/Inter-ExtraBold.ttf");
  font-weight: 800
}
@font-face {
  font-family: 'Inter-ExtraLight';
  src: url("fonts/inter/Inter-ExtraLight.ttf");
  font-weight: 200
}
@font-face {
  font-family: 'Inter-Light';
  src: url("fonts/inter/Inter-Light.ttf");
  font-weight: 300
}
@font-face {
  font-family: 'Inter-Medium';
  src: url("fonts/inter/Inter-Medium.ttf");
  font-weight: 500
}
@font-face {
  font-family: 'Inter-Regular';
  src: url("fonts/inter/Inter-Regular.ttf");
  font-weight: 400
}
@font-face {
  font-family: 'Inter-SemiBold';
  src: url("fonts/inter/Inter-SemiBold.ttf");
  font-weight: 600
}
@font-face {
  font-family: 'Inter-Thin';
  src: url("fonts/inter/Inter-Thin.ttf");
  font-weight: 100
}

/* Lora fonts */

@font-face {
  font-family: 'Lora-Bold';
  src: url("fonts/lora/Lora-Bold.ttf");
  font-weight: 700
}
@font-face {
  font-family: 'Lora-Medium';
  src: url("fonts/lora/Lora-Medium.ttf");
  font-weight: 500
}
@font-face {
  font-family: 'Lora-Regular';
  src: url("fonts/lora/Lora-Regular.ttf");
  font-weight: 400
}
@font-face {
  font-family: 'Lora-SemiBold';
  src: url("fonts/lora/Lora-SemiBold.ttf");
  font-weight: 600
}